AddHandler application/x-httpd-php56 .inc .php .php4 .php3 .phtml # phpvs v56

    Options +FollowSymlinks
    # Enable mod_rewrite
    RewriteEngine On

    # Redirect all requests to web
    RewriteCond %{REQUEST_URI} ^(.*)$
    RewriteRule ^(.*)$ /frontend/web/$1